<!DOCTYPE html>
<html>
<head>
 <title></title>
 <!-- 新 Bootstrap 核心 CSS 文件 -->
 <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

 <!-- 可选的Bootstrap主题文件（一般不使用） -->
 <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-theme.min.css"></script>

 <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
 <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>

 <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
 <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>

 <div class="container">
  <div class="container">
   <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default" role="navigation">
       <div class="navbar-header">
         <h1>考试管理系统</h1>
       </div>
       <ul class="nav navbar-nav navbar-right">
         <li class="navbar-text">{{user.username}}您以{%if perms.data.add_choicequestion%}教师{%else%}学生{%endif%}的身份登录
           <a href="{%url 'data:Logout'%}">登出</a></li>
           <ul>
           </nav>


           <div class="row">
             <div class="col-md-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">active</h3>
                </div>
                <div class="panel-body">
                  <h4>题目管理</h4>
                  <ul>
                    {%if perms.data.add_choicequestion%}
                    <li><a href="{%url 'data:get_choicequestion'%}">选择题</a></li>
                    <li><a href="{%url 'data:get_fillquestion'%}">填空题</a></li>
                    <li><a href="{%url 'data:get_tfquestion'%}">判断题</a></li>
                    <li><a href="{%url 'data:get_saquestion'%}">简答题</a></li>
                    {%endif%}
                    <li><a href="{%url 'data:Questionlist'%}">题目列表</a></li>
                  </ul>
                  <h4>考试管理</h4>
                  <ul>
                    {%if perms.data.add_choicequestion%}
                    <li><a href="{%url 'data:AddExam'%}">添加考试</a></li>
                    <li><a href="{%url 'data:NewTest'%}">新事件</li>
                    {%endif%}
                    <li><a href="{%url 'data:ExamList'%}">考试列表</a></li>
                    {%if perms.data.add_choicequestion%}
                    <li><a href="{%url 'data:TestList'%}">事件列表</a></li>
                    {%else%}
                    <li><a href="{%url 'data:TestLogList'%}">相关事件记录</a></li>
                    {%endif%}
                  </ul>
                  <h4>考试结果</h4>
                  <ul>
                    <li><a href="{%url 'data:ResultList'%}">考试结果列表</a></li>
                    {%comment%}
                    <li><a href="{%url 'data:NewUser'%}">新用户</a></li>
                    <li><a href="{%url 'data:Login'%}">登入</a></li>
                    <li><a href="{%url 'data:AnswerExam' 1 %}">答卷</a></li>
                    {%endcomment%}
                  </ul>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">user</h3>
                </div>
                <div class="panel-body">
                  <ul>
                    <li><a href="{%url 'data:UserDetail' user.id%}">用户信息</a></li>
                    <li><a href="{%url 'data:Logout'%}">退出</a></li>
                    {%if perms.data.add_choicequestion%}
                    <li><a href="{%url 'data:TeacherUpdate'%}">教师信息更新</a></li>
                    <li><a href="{%url 'data:StudentList'%}">学生列表</a></li>
                    {%else%}
                    <li><a href="{%url 'data:StudentUpdate'%}">学生信息更新</a></li>
                    <li><a href="{%url 'data:ChooseTeacher'%}">教师选择</a></li>
                    {%endif%}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="panel panel-success">
              
                <div class="panel-body">
                
                {%block content%}{%endblock%}
                </div>
              </div>
            </div>



         </div>
       </div>
     </div>
   </div>
 </div>



</body>
</html>