<!DOCTYPE html>
<html>
<head>
   <title></title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-theme.min.css"></script>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>


	

<body>
    {% extends 'data/base.html' %}
	{% block content %}
	<h1 class="text-center">
		欢迎
	</h1>
	<h3 class="text-center text-info">
		{{user.username}}，感谢您对本网站的支持
	</h3>
	{%if character == 'student'%}
		<h3 class="text-center text-info">
			您当前有{{testlogs|length}}个待办事项！请按时完成
		</h3>
	{%endif%}
	{% endblock %}
</body>
</html>
