{% extends 'data/base.html' %}
{%block content%}
<h1>试卷判定</h1>
<form action="" method="POST">
    {% csrf_token %}
    {%comment%}
    <h4>选择题:</h4>
    {%for question in ans.choicequestion %}
    	<p>{{forloop.counter}}.&nbsp{{question.question_text}}</p>
                <ul class="list-inline">
        		{%for choice in question.choicequestion.choice_set.all%}
        			<li>{{choice.number}}:{{ choice.choice_text }}</li>
        		{%endfor%}
                </ul>
        <p>ans:{{question.choicequestion.ans}}</p>
        <p>author ans:{{}}</p>
    {%endfor%}
    <h4>填空题:</h4>
    {%for question in fillquestions %}
        <p>{{forloop.counter}}.&nbsp{{question.choicequestion.question_text}}</p>
        <p>答案:{{question.choicequestion.ans}}</p>
        <p>分值:{{question.mark}}</p>
    {%endfor%}
    <h4>判断题:</h4>
    {%for question in tfquestions %}
        <p>{{forloop.counter}}.&nbsp{{question.tfquestion.question_text}}</p>
        <p>答案:{{question.tfquestion.ans}}</p>
        <p>分值:{{question.mark}}</p>
    {%endfor%}
    {%endcomment%}
    <h4>简答题:</h4>
    {%for question in saquestionans %}
        <p>{{forloop.counter}}.&nbsp{{question.saquestion.question_text}}</p>
        <p>标准答案:{{question.saquestion.ans}}</p>
        <p>分值:{{question.mark}}</p>
        <p>学生答案:{{question.ans}}</p>
        <p>得分:<input type="text"  name = 'sa{{question.id}}'></p>
    {%endfor%}
    <button type="submit" name = 'submit' class="btn btn-primary center-block">提交</button>
</form>
{%endblock%}