<!DOCTYPE html>
<html>
<head>
 <title></title>
 <!-- 新 Bootstrap 核心 CSS 文件 -->
 <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

 <!-- 可选的Bootstrap主题文件（一般不使用） -->
 <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-theme.min.css"></script>

 <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
 <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>

 <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
 <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>
{%extends 'data/base.html'%}
{%block content%}
<p>教师:{{user.username}}</p>
<h1 class="text-center">学生列表</h1>
<table class="table table-hover">
<thead>
	<tr>
		<th>姓名</th>
		<th>性别</th>
		<th>年龄</th>
		<th>学号</th>
		<th>学院</th>
		<th>电话</th>
		<th>邮箱</th>
	</tr>
</thead>
<tbody>
{%for student in students%}	
	<tr>
		<td><a href="{%url 'data:UserDetail' student.user.id%}">{{student.name}}</a></td>
		<td>{{student.fuck}}</td>
		<td>{{student.age}}</td>
		<td>{{student.num}}</td>
		<td>{{student.college}}</td>
		<td>{{student.tel}}</td>
		<td>{{student.email}}</td>
	</tr>
{%empty%}
	<p>您暂时没有学生</p>
{%endfor%}
</tbody>
	
</table>

{%endblock%}
</body>
</html>