<!DOCTYPE html>
<html>
<head>
 <title></title>
 <!-- 新 Bootstrap 核心 CSS 文件 -->
 <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

 <!-- 可选的Bootstrap主题文件（一般不使用） -->
 <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-theme.min.css"></script>

 <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
 <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>

 <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
 <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>

{% extends 'data/base.html' %}
{%block content%}
<h1>事件列表</h1>
<table class="table table-hover">
	<h4>未完成事件</h4>
	<thead>
	{%if unfinish%}
	<tr>
		<th>事件名称</th>
		<th>作者</th>
		<th>事件类型</th>
		<th>日期</th>
		<th>状态</th>
		<th>操作</th>
	</tr>
	{%endif%}
	</thead>
	<tbody>
	{%for item in unfinish%}
		<tr>
			<td><a href="{%url 'data:TestDetail' item.test.id%}">{{item.test.name}}</a></td>
			<td>{{item.test.user}}</td>
			<td>{{item.test.get_Type_display}}</td>
			<td>{{item.test.date}}</td>
			<td>{{item.state}}</td>
			<td><a href="{%url 'data:AnswerTest'  item.test.id %}">完成事件</td>
		</tr>
	{%empty%}
		<p>无未完成事件</p>
	{%endfor%}
	<tbody>
</table>
<table class="table table-hover">
	<h4>已完成事件</h4>
	<thead>
	{%if finish%}
	<tr>
		<th>事件名称</th>
		<th>作者</th>
		<th>事件类型</th>
		<th>日期</th>
		<th>状态</th>
	</tr>
	{%endif%}
	</thead>
	<tbody>
	{%for item in finish%}
		<tr>
			<td><a href="{%url 'data:TestDetail' item.test.id%}">{{item.test.name}}</a></td>
			<td>{{item.test.user}}</td>
			<td>{{item.test.get_Type_display}}</td>
			<td>{{item.test.date}}</td>
			<td>{{item.state}}</td>
		</tr>
	{%empty%}
		<p>无完成事件</p>
	{%endfor%}
	<tbody>
</table>
{%endblock%}